<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node js upload doc to mongodb</title>
  </head>
  <body>
    <h1>Email verified Successfully!</h1>
    <a href="http://localhost:9090/login"> Login</a>
  </body>
</html>
